body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo > span {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
}
.logo {
  color: #4d5ae5;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 5px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.nav-links {
  color: #2e2f42;
  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.nav-links:hover,
.nav-links::after,
.nav-links:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-links {
  font-weight: 400;
  color: #434455;
  text-decoration: none;
}
.contacts-links:hover,
.contacts-links::after,
.contacts-links:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}
.hero-text {
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover,
.button:after,
.button:focus {
  background-color: #404bbf;
}
.Features-h2 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.Features-h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.Features-p {
}
.ourteam-color {
  background-color: #f4f4fd;
}
.ourteam-h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.ourteam-color ul {
  background-color: #ffffff;
}
.ourteam-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.ourteam-p {
  font-size: 16px;
}
.Portfolio-h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.Portfolio-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.Portfolio-p {
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  width: 1440px;
  height: 321px;
}
.footer .white {
  color: #f4f4fd;
}
.footer-p {
  color: #f4f4fd;
}
